@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'PlatinumSignUnder';
  src: url('/Platinum Sign Over.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.anaglyphBase {
  font-family: 'PlatinumSignUnder', sans-serif;
  color: #fff;
}

